html {
  --color-accent: #a4ceb9;
  --nav-border: rgba(164, 206, 185, 0.8);
  --text-secondary: #317797;
  accent-color: var(--accent-color);
}

body {
  /* Set line height to 1.5 times the font size
       and use the OS’s UI font as the website font
     */
  max-width: 80vw;
  margin-inline: auto;
  padding: 2em;
  font: 100%/1.5 'Gill Sans', sans-serif;
  font-weight:300;
}

h1 {
  font-size: 400%;
  font-family: "Josefin Sans", sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  text-wrap: balance;
  font-family: "Josefin Sans", sans-serif;
  
}

h2 {
  color: var(--text-secondary);
}
form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

label,
button {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1/ -1;
}

img {
  max-width: 100%;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}

.resume-item {
  margin-block: 0;
}

.resume-item ul {
  margin-block: 0;
}
.resume-item .item-header {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.resume-item .item-header > h5 {
  color: var(--text-secondary);
}

.color-scheme {
  position: absolute;
  top: 1rem;
  right: 2rem;
}
